/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Google+Sans);
@import url(https://fonts.googleapis.com/css?family=Outfit);

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "Google Sans", sans-serif;
}

/* Section */
section{
    background-color:beige;
}

/* Outer container of header */
header{
    width:100%;
    display:flex;
    justify-content:center;
    padding: 20px;
}

/* Navigation Bar Container */
.nav-container{
    display:flex;
    align-items:center;
    gap:12px;
}


/* Main navigation bar */
nav{
    position:relative;
    background-color: #D9DA84;
    border-radius: 50px;
    display:flex;
    align-items: center;
    padding: 6px 20px 6px 20px;
}


.logo{
    height: 38px;
    width: auto;
    margin-right: 15px; /* Providing more space for the logo and the hyperlinks */
}


/* Decorating the navigation links */
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap:20px;
}


.nav-links a{
    font-weight:bold;
    font-size:15px;
    color:#113c24;
    text-decoration: none;
    transition: opacity 0.5s ease; /* Giving interactive styling to the links */
}


.nav-links a:hover {
    opacity:0.7;
}


/* Language Toggle and Search Button */
.lang-btn, .search-btn{
    position:relative;
    background-color: #D9DA84;
    color:#113c24;
    border:none;
    outline:none;
    border-radius: 50%;
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Google Sans";
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
    transition: background-color 0.5s ease;
}


.lang-btn:hover, .search-btn:hover, .search-btn-two:hover{
    background-color: #cbcc75; /*Lower opacity colour*/
}

/* Search Box Wrapper */
.search-box-one{
    display:flex;
    align-items: center;
    background-color: #D9DA84;
    border-radius: 50px;
    width:50px;
    height:50px;
    transition: width 0.4 ease, padding 0.4s ease; /* When the box expands */
}


/* Hiding Input Field by Default */
.search-input{
    width:0;
    border:none;
    outline:none;
    background:transparent; /* Such that the white box doesn't appear */
    color:#113c24;
    padding:0;
}

/* Expanded State Linked to JavaScript */
.search-box-one.active{
    padding-left: 15px;
}

.search-box-onw.active .search-input {
    width:180px; /* Expanding open */
    padding-right:10px; 
}

::placeholder{
    color:#113c24;
}

/* Banner */
.banner{
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow:hidden;
    margin:10%;
}

#banner-header{
    font-weight: bolder;
    font-family: "Outfit";
    font-size: 80px;
    color: #D9DA84;
}

/* Background video */
#backgroundVideo {
    position:absolute;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
    z-index: -1; 
}

 /* Banner Search Box*/
.search-box-two{
    width:100%;
    max-width:700px;
    display:flex;
    align-items: center;
    background-color: #D9DA84; /*Providing repetition*/
    border-radius:50px;
    padding: 5px 20px;
    margin:auto; /* What centers the search bar */
}

.search-box-two input{
    background:transparent;
    flex:1; /* Takes up the whole of the bar */
    border:none;
    outline:none;
}

.search-box-two button{
    position:relative;
    background-color: #D9DA84;
    color:#113c24;
    padding:10px 10px;
    border:0;
    border-radius: 50%;
    display:flex;
    font-family: "Google Sans";
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
    transition: background-color 0.5s ease;
}

.top-section{
    display:flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    font-size: large;
    
}

.top-section video{
    padding:30px;
    width:45%;
    border:none;
    outline:none;
}


/* nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    ul{
        list-style-type:none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content:center;
        background-color: #D9DA84;
        margin-left:15%;
        margin-right:15%;
        border-radius: 100px;
    }


    ul li a{
        display:block;
        color: #113c24;
        padding: 14px 16px;
        text-decoration: none;
        font-family:'Google Sans';
        font-weight:bold;
    }


    ul li a:hover {
        background-color: #fcf6b9;
    }
   
    .logo{
        max-width:50px;
        width:auto;
    }
}
    .selected-lang{
    cursor:pointer;
    background-color: #D9DA84;
    border-radius: 50%;
    height:50px;
    width:50px;
    display:flex;
    text-align: center;


}

#lang-button{
    height:50px;
    width:50px;
    padding:0;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background-color: #D9DA84;
}


#lang-button :last-child{
    display:none;
}


#lang-button :checked first-child{
    display:none;
}


#lang-button :checked last-child {
    display: block;
}


Banner Section
.banner {
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#333;
    font-weight: bolder;
    color:#D9DA84;
    position:relative;
    overflow:hidden;
}

#backgroundVideo {
    position:fixed;
    top:0;
    left:0;
    min-width: 100%;
    min-height:100%;

}


.search-box-two{
    align-items: center;
    justify-content: center;
    background-color:#D9DA84;
    border-radius:50px;
    width:180px;
    height:50px;
    display:flex;
}

.search-input-two{
    width:180;
    border:none;
    outline:none;
    background:transparent; 
    color:#113c24;
}






